

html{
    background: rgb(74,137,255);
    background: radial-gradient(circle, rgba(74,137,255,1) 0%, rgba(0,78,170,1) 100%);
}
main{

    padding: 0 10rem;
}

.section{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0 7rem
}

.text {
    font-family: "Lora", serif;
    font-weight: 900;
    font-size: 1.8vw;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid rgb(255, 255, 255); /* Cursor */
    animation:
        typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
        margin-top: 1.5em;
        margin: 0 auto;
    }
    .introduction{      
        margin-top: 5rem;
        margin-bottom: 6rem;
        justify-content: center;  
        .name{
            font-size: 5.5vw;
            font-weight: 700;
            color: white;
            font-family: "Lora", serif;
            text-align: center;
        }
    }
    
    .about-me{
        margin-top: 10rem;
        justify-content: center;
        .hi{
            font-size: 3.5vw !important;
        }
        .about-me-text{
            text-align: center;
            font-size: 2vw;
            font-family: "Lora", serif;
            color: #fff;
            font-weight: 500;
        }
        .principal-habilities{
            width: 50vw;
            align-items: center;
            margin: 0 auto;
            margin-top: 3rem;
            .habilities{
                justify-content: space-around;
                display: flex;
                flex-direction: row;
                height: auto; /* Cambiar a auto para que se ajuste al contenido */
                border: 3px solid rgb(18, 70, 168);
                border-radius: 10px;
                overflow: hidden;
                background-color: rgba(18, 71, 168, 0.224);

                .ability {
                    padding: 20px 1vw 15px 1vw;
                    display: flex; /* Hacer que la habilidad sea un contenedor flexible */
                    align-items: center; /* Centrar verticalmente el contenido */

                    p{
                        font-family: "Lora", serif;
                        font-size: 1vw;
                        color: #fff;
                        font-weight: 500;
                        margin-left: 0.5vw;
                    }
                }
                .ability img {
                    height: 40px; /* Ajustar la altura de la imagen según sea necesario */
                    width: auto; /* Mantener la relación de aspecto */
                    object-fit: contain; /* Mantener la relación de aspecto de la imagen */
                    padding-right: 5px; /* Espaciado entre la imagen y el texto */
                }
            }
        }
    }
    .title{
        font-family: "Lora", serif;
        font-weight: 500;
        margin-bottom: -12px;
        margin-left: 15px;
        font-size: 1vw;
        color: #fff;
        background-color: rgb(18, 70, 168);
        border-radius: 5px;
        width: 14rem;
        text-align: center;
        z-index: 1;
    }

    .experience{
        margin-top: 10rem;
        justify-content: center;

        .experience-title{
            font-family: "Lora", serif;
            font-weight: 500;
            font-size: 3vw;
            color: #fff;
            margin-bottom: 1rem;
            margin-top: 3rem;
            text-align: center;
        }
        .card {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(18, 71, 168, 0.224);
            padding: 2rem ;
            border: 3px solid rgb(18, 70, 168);
            border-radius: 6px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
        }
        
        .card-image {
            width: 15vw;
            height: auto;
            border-radius: 6px;
            flex-shrink: 0;
            margin-right: 2rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .card-image:hover {
            transform: scale(0.98);
            transition: transform 0.3s ease;
        }
        
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            font-family: "Lora", serif;
            button {
                --color: rgb(18, 70, 168);
                font-weight: 700;
                display: inline-block;
                width: auto;
                padding-left: 6px;
                padding-right: 6px;
                height: 2.6em;
                line-height: 2.5em;
                overflow: hidden;
                cursor: pointer;
                
                font-size: 17px;
                z-index: 1;
                color: #fff;
                border: 3px solid var(--color);
                border-radius: 6px;
                position: relative;
                background: transparent;
                transition: transform 0.3s ease;
                display: flex;
                justify-content: start;
                align-items: center;
            }
              
              button::before {
                position: absolute;
                content: "";
                background: var(--color);
                width: 230px;
                height: 200px;
                z-index: -1;
                border-radius: 50%;
              }
              
              button:hover {
                color: white;
                transform: scale(1.1);
              }
              
              button:before {
                top: 100%;
                left: 100%;
                transition: 0.3s all;
              }
              
              button:hover::before {
                top: -30px;
                left: -30px;
              }
        
              button img {
                height: 80%; /* La imagen ocupa el 100% del alto del botón */
                object-fit: contain; /* Mantener la relación de aspecto de la imagen */
                padding-right: 5px;
              }
        }
        
        .category {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            color: #fff;
            padding-bottom: 5px;
            text-align: left; /* Align text to the left */
        }
        
        .category:hover {
            cursor: default;
        }
        
        .heading {
            padding: 0.5rem;
            border-radius: 5px;
            background-color: rgb(18, 70, 168);
            font-size: 1vw;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 10px;
            text-align: left; /* Align text to the left */
        }
        
        .heading:hover {
            cursor: default;
        }
        
        .date {
            display: flex;
            justify-content: end;
            text-align: end;
            padding-top: 10px;
            color: #fff;
            font-weight: 400;
            font-size: 1rem;
            text-align: left; /* Align text to the left */
        }
        
  
        margin-bottom: 10rem;
    }

    .projects{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 0 7rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        margin-bottom: 2rem;

        .project-title{
            font-family: "Lora", serif;
            font-weight: 500;
            font-size: 3vw;
            color: #fff;
            margin-bottom: 1rem;
            margin-top: 3rem;
            text-align: center;
        }
    }
    
    @keyframes typeAndDelete {
        0%,
        10% {
            width: 0;
        }
        30%, /* Cambiado de 45% a 40% */
        70% { /* Cambiado de 55% a 60% */
            width: 10em; /* Ajusta el ancho según el contenido */
        }
        90%,
        100% {
            width: 0;
        }
    }

@media (max-width: 1024px) {
    .experience, .card{
        flex-direction: column;
    }
    .section{
        width: 100%;
        padding: 0;
    }
    .card-image{
        display: none;
    }
    .title{
        font-size: 1.5vw;
        width: 15vw;
    }
    .heading{
        font-size: 1.5vw !important;
    }

    .principal-habilities{
        width: 100% !important;
    }

    .ability{
        p {
            font-size: 1.5vw !important;
        }
    }
}

@media (max-width: 768px){
    main{
        padding: 0 2rem;
    }

    .name{
        font-size: 10vw !important;
    }
    .text{
        font-size: 4vw;
    }
    .about-me-text{
        font-size: 4vw !important;
    }

    .heading{
        font-size: 2vw !important;
    }
    .title{
        font-size: 2.5vw;
        width: 20vw;
    }

    .link-button{
        width: 26vw !important;
        font-size: 2.5vw !important;
    }

    .principal-habilities{
        width: 100% !important;
        p{
            font-size: 2.5vw !important;
        }
        .title{
            width: 30vw !important;
        }
        .ability {
            margin: 0;
        }
    }

    .main-container{
        width: 100% !important;
        .up-container{
            flex-direction: row;
            .project-name{
                width: 10rem;
                margin: 0 0.7rem;
            }
        }
        .habilities{
            flex-direction: row;
        }
        
    }
}

@media (max-width: 480px){
    footer {
        button{
            font-size: 0.8rem !important;
        }
    }

    .experience{
        margin-bottom: 0rem;
    }

    .projects{
        margin-top: 6rem;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    #root {
        padding-bottom: 3rem !important;
    }
}